<html>
<head>
  <title>Overwatch API</title>
  <style>
    body {
      background-color: rgb(245,245,245);
      font-family: sans-serif;
      padding: 5px;
      max-width: 90%;
      min-width: 600px;
    }
    h1 {
      margin-bottom: 7px;
    }
    h2, h3, h4 {
      margin: 12px 0 7px 0;
    }
    p {
      margin: 2px;
    }
    .code-block {
      color: #1c1c1c;
      background-color: rgba(207, 207, 207, 0.8);
      border-radius: 3px;
      display: inline-block;
      padding: 2px;
      border: 1px solid #898989;
      margin: 3px;
      font-family: monospace;
    }
    .code-block.full {
      display: block;
      white-space: pre-wrap;
    }
    h4 {
      font-size: 18px;
    }
    .method {
      margin: 10px 0;
    }
    .method h4 {
      margin: 4px 2px;
    }
    .method-response {
      margin-left: 25px;
      font-weight: bold;
    }
    ul {
      margin: 4px 0;
    }
    ul ul {
      padding-left: 20px;
    }
    .md {
      font-weight: normal
    }
    .int, .bool {
      color: blue;
    }
    .string {
      color: green;
    }
    .undef {
      color: gray;
    }
  </style>
</head>
<body>
  <div id="header">
    <h1>Overwatch API</h1>
    <p>Returns an Overwatch Players Stats
  </div>

  <h2>API Endpoints</h2>
  <div id="methods">
    <div class="method">
      <h4>User Info: <div class="code-block">/api/u/&lt;user&gt;</div></h4>
      <div class="method-details">
        <p><b>Returns basic user info</b></p>
        <p><b>Params:</b></p>
        <ul>
          <li><div class="code-block">&lt;user&gt;</div> - users battletag, case sensitive. e.g. Apples-1234</li>
          <li><div class="code-block">?region=</div> - optional region of user (us, eu, kr) - if not specified it will attempt to find it</li>
        </ul>
      </div>
      <p><b>Method Response: <a class="show-response" href="#" onclick="toggleResponse(0)">Show</a></b></p>
      <div class="method-response code-block full" style="display: none">
      {
        ok: <span class="md bool">true</span>,
        data: {
          player: {
            battletag: <span class="md string">'Apples-1234'</span>,
            avatar: <span class="md string">'https://blzgdapipro-a.akamaihd.net/game/unlocks/0x0250000000000BAD.png'</span>,
            region: <span class="md string">'us'</span>,
            level: <span class="md int">15</span>,
            rank: <span class="md int">1</span>,
            comprank: <span class="md int">2512</span>
          }
        }
      }
      </div>
    </div>
    <hr>
    <div class="method">
      <h4>User Stats: <div class="code-block">/api/u/&lt;user&gt;/stats/&lt;type&gt;</div></h4>
      <div class="method-details">
        <p><b>Returns a users QuickPlay and/or Competitive stats (if any)</b></p>
        <p><b>Params:</b></p>
        <ul>
          <li><div class="code-block">&lt;user&gt;</div> - users battletag, case sensitive. e.g. Apples-1234</li>
          <li><div class="code-block">&lt;type&gt;</div> - optional type, will return only data relating to type, not sending a type will default to <div class="code-block">both</div>, valid types are <div class="code-block">quickplay</div>, <div class="code-block">competitive</div> or <div class="code-block">both</div></li>
          <li><div class="code-block">?region=</div> - optional region of user (us, eu, kr) - if not specified it will attempt to find it</li>
        </ul>
      </div>
      <p><b>Method Response: <a class="show-response" href="#" onclick="toggleResponse(1)">Show</a></b></p>
      <div class="method-response code-block full" style="display: none">
      {
        ok: <span class="md bool">true</span>,
        data: {
          player: {
            battletag: <span class="md string">'Apples-1234'</span>,
            avatar: <span class="md string">'https://blzgdapipro-a.akamaihd.net/game/unlocks/0x0250000000000BAD.png'</span>,
            region: <span class="md string">'us'</span>,
            level: <span class="md int">15</span>,
            rank: <span class="md int">1</span>,
            comprank: <span class="md int">2512</span>,
            compteir: <span class="md string">'platinum'</span>,
            compteirimage: <span class="md string">'https://blzgdapipro-a.akamaihd.net/game/rank-icons/season-2/rank-4.png'</span>
          },
          stats: {
            competitive: {
              is_empty: <span class="md bool">true</span>,
              featured_stats: [],
              game_stats: {},
              overall_stats: {},
              playtimes: []
            },
            quickplay: {
              featured_stats: [{
                  avg: <span class="md int">1333</span>,
                  name: <span class="md string">"healing done"</span>,
                  value: <span class="md int">815570</span>
                }, {
                  avg: <span class="md string">"02:07"</span>,
                  name: <span class="md string">"time spent on fire"</span>,
                  value: <span class="md string">"21:38:20"</span>
                }, {
                  ...
                }
              ],
              game_stats: {
                cards: <span class="md int">285</span>,
                damage_done: <span class="md int">4061587</span>,
                damage_done_most_in_game: <span class="md int">21420</span>,
                deaths: <span class="md int">4137</span>,
                defensive_assists: <span class="md int">163</span>,
                ...
              },
              overall_stats: {
                games: <span class="md int">612</span>,
                losses: <span class="md int">301</span>,
                win_rate: <span class="md int">0.58</span>,
                wins: <span class="md int">311</span>
              },
              playtimes: [{
                name: <span class="md string">"Mercy"</span>,
                time: <span class="md string">"40 hours"</span>,
                extended: <span class="md string">"/hero/mercy"</span>
              }, {
                name: <span class="md string">"Pharah"</span>,
                time: <span class="md string">"30 hours"</span>,
                extended: <span class="md string">"/hero/pharah"</span>
              }, {
                ...
              }]
            }
          }
        }
      }
      </div>
    </div>
    <hr>
    <div class="method">
      <h4>User Heroes: <div class="code-block">/api/u/&lt;user&gt;/heroes/&lt;type&gt;</div></h4>
      <div class="method-details">
        <p><b>Returns all heroes and their playtime sorted by playtime for both QuickPlay and/or Competitive (if any)</b></p>
        <p><b>Params:</b></p>
        <ul>
          <li><div class="code-block">&lt;user&gt;</div> - users battletag, case sensitive. e.g. Apples-1234</li>
          <li><div class="code-block">&lt;type&gt;</div> - optional type, will return only data relating to type, not sending a type will default to <div class="code-block">both</div>, valid types are <div class="code-block">quickplay</div>, <div class="code-block">competitive</div> or <div class="code-block">both</div></li>
          <li><div class="code-block">?region=</div> - optional region of user (us, eu, kr) - if not specified it will attempt to find it</li>
        </ul>
      </div>
      <p><b>Method Response: <a class="show-response" href="#" onclick="toggleResponse(2)">Show</a></b></p>
      <div class="method-response code-block full" style="display: none">
      {
        ok: <span class="md bool">true</span>,
        data: {
          competitive: [ ],
          quickplay: [{
            extended: <span class="md string">"/hero/pharah"</span>,
            name: <span class="md string">"Pharah"</span>,
            time: <span class="md string">"16 hours"</span>
          }, {
            extended: <span class="md string">"/hero/mercy"</span>,
            name: <span class="md string">"Mercy"</span>,
            time: <span class="md string">"15 hours"</span>
          }, {
            extended: <span class="md string">"/hero/roadhog"</span>,
            name: <span class="md string">"Roadhog"</span>,
            time: <span class="md string">"3 hours"</span>
          }, {
            extended: <span class="md string">"/hero/tracer"</span>,
            name: <span class="md string">"Tracer"</span>,
            time: <span class="md string">"2 hours"</span>
          }, {
            ...
          }]
        }
      }
      </div>
    </div>
    <hr>
    <div class="method">
      <h4>User Hero Stats: <div class="code-block">/api/u/&lt;user&gt;/hero/&lt;hero&gt;/&lt;type&gt;</div></h4>
      <div class="method-details">
        <p><b>Returns all heroes and their playtime sorted by playtime for both QuickPlay and/or Competitive (if any)</b></p>
        <p><b>Params:</b></p>
        <ul>
          <li><div class="code-block">&lt;user&gt;</div> - users battletag, case sensitive. e.g. Apples-1234</li>
          <li>
            <div class="code-block">&lt;hero&gt;</div> - name of hero - see below for valid heroes
            <ul>
              <li>
                <div class="code-block">ana</div>, <div class="code-block">bastion</div>, <div class="code-block">dva</div>, <div class="code-block">genji</div>, <div class="code-block">hanzo</div>, <div class="code-block">junkrat</div>, <div class="code-block">lucio</div>, <div class="code-block">mccree</div>, <div class="code-block">mei</div>, <div class="code-block">mercy</div>, <div class="code-block">pharah</div>, <div class="code-block">reaper</div>, <div class="code-block">reinhardt</div>, <div class="code-block">roadhog</div>, <div class="code-block">soldier76</div>, <div class="code-block">sombra</div>, <div class="code-block">symmetra</div>, <div class="code-block">torbjorn</div>, <div class="code-block">tracer</div>, <div class="code-block">widowmaker</div>, <div class="code-block">winston</div>, <div class="code-block">zarya</div>, <div class="code-block">zenyatta</div>
              </li>
            </ul>
          </li>
          <li><div class="code-block">&lt;type&gt;</div> - optional type, will return only data relating to type, not sending a type will default to <div class="code-block">both</div>, valid types are <div class="code-block">quickplay</div>, <div class="code-block">competitive</div> or <div class="code-block">both</div></li>
          <li><div class="code-block">?region=</div> - optional region of user (us, eu, kr) - if not specified it will attempt to find it</li>
        </ul>
      </div>
      <p><b>Method Response: <a class="show-response" href="#" onclick="toggleResponse(3)">Show</a></b></p>
      <div class="method-response code-block full" style="display: none">
      {
        ok: <span class="md bool">true</span>,
        data: {
          name: <span class="md string">"Ana"</span>,
          class: <span class="md string">"Support"</span>,
          stats: {
            competitive: {
              is_empty: <span class="md bool">true</span>,
              overall_stats: {},
              hero_stats: {},
              general_stats: {},
              featured_stats: []
            },
            quickplay: {
              overall_stats: {
                games: <span class="md int">6</span>,
                losses: <span class="md int">4</span>,
                win_rate: <span class="md int">0.33</span>,
                wins: <span class="md int">2</span>
              },
              hero_stats: {
                melee_final_blow_most_in_game: <span class="md int">1</span>,
                scoped_accuracy: <span class="md string">"60%"</span>
              },
              general_stats: {
                damage_done: <span class="md int">11158</span>,
                damage_done_most_in_game: <span class="md int">2888</span>,
                deaths: <span class="md int">36</span>,
                eliminations: <span class="md int">25</span>,
                enemies_slept: <span class="md int">12</span>,
                ...
              },
              featured_stats: [{
                avg: <span class="md int">1630.77</span>,
                name: <span class="md string">"healing done"</span>,
                value: <span class="md int">10048</span>
              }, {
                avg: <span class="md int">4.05</span>,
                name: <span class="md string">"eliminations"</span>,
                value: <span class="md int">25</span>
              }, {
                ...
              }]
            }
          }
        }
      }
      </div>
    </div>
    <hr>
    <div class="method">
      <h4>Blob: <div class="code-block">/api/u/&lt;user&gt;/blob</div></h4>
      <div class="method-details">
        <p><b>Returns all data, heroes, stats, playtimes</b></p>
        <p><b>Params:</b></p>
        <ul>
          <li><div class="code-block">&lt;user&gt;</div> - users battletag, case sensitive. e.g. Apples-1234</li>
          <li><div class="code-block">?region=</div> - optional region of user (us, eu, kr) - if not specified it will attempt to find it</li>
        </ul>
      </div>
      <p><b>Method Response: <a class="show-response" href="#" onclick="toggleResponse(4)">Show</a></b></p>
      <div class="method-response code-block full" style="display: none">
        {
          ok: <span class="md bool">true</span>,
          data: {
            player: {
              battletag: <span class="md string">'Apples-1234'</span>,
              avatar: <span class="md string">'https://blzgdapipro-a.akamaihd.net/game/unlocks/0x0250000000000BAD.png'</span>,
              region: <span class="md string">'us'</span>,
              level: <span class="md int">15</span>,
              rank: <span class="md int">1</span>,
              comprank: <span class="md int">2512</span>,
              compteir: <span class="md string">'platinum'</span>,
              compteirimage: <span class="md string">'https://blzgdapipro-a.akamaihd.net/game/rank-icons/season-2/rank-4.png'</span>
            },
            stats: {
              competitive: {
                is_empty: <span class="md bool">true</span>,
                featured_stats: [],
                game_stats: {},
                overall_stats: {},
                playtimes: []
              },
              quickplay: {
                featured_stats: [{
                    avg: <span class="md int">1333</span>,
                    name: <span class="md string">"healing done"</span>,
                    value: <span class="md int">815570</span>
                  }, {
                    avg: <span class="md string">"02:07"</span>,
                    name: <span class="md string">"time spent on fire"</span>,
                    value: <span class="md string">"21:38:20"</span>
                  }, {
                    ...
                  }
                ],
                game_stats: {
                  cards: <span class="md int">285</span>,
                  damage_done: <span class="md int">4061587</span>,
                  damage_done_most_in_game: <span class="md int">21420</span>,
                  deaths: <span class="md int">4137</span>,
                  defensive_assists: <span class="md int">163</span>,
                  ...
                },
                overall_stats: {
                  games: <span class="md int">612</span>,
                  losses: <span class="md int">301</span>,
                  win_rate: <span class="md int">0.58</span>,
                  wins: <span class="md int">311</span>
                },
                playtimes: [{
                  name: <span class="md string">"Mercy"</span>,
                  time: <span class="md string">"40 hours"</span>,
                  extended: <span class="md string">"/hero/mercy"</span>
                }, {
                  name: <span class="md string">"Pharah"</span>,
                  time: <span class="md string">"30 hours"</span>,
                  extended: <span class="md string">"/hero/pharah"</span>
                }, {
                  ...
                }]
              }
              heroes: {
                ana: {
                  name: <span class="md string">"Ana"</span>,
                  class: <span class="md string">"Support"</span>,
                  stats: {
                    competitive: {
                      is_empty: <span class="md bool">true</span>,
                      overall_stats: {},
                      hero_stats: {},
                      general_stats: {},
                      featured_stats: []
                    },
                    quickplay: {
                      overall_stats: {
                        games: <span class="md int">6</span>,
                        losses: <span class="md int">4</span>,
                        win_rate: <span class="md int"> 33.3</span>,
                        wins: <span class="md int">2</span>
                      },
                      hero_stats: {
                        melee_final_blow_most_in_game: <span class="md int">1</span>,
                        scoped_accuracy: <span class="md string">"60%"</span>
                      },
                      general_stats: {
                        damage_done: <span class="md int">11158</span>,
                        damage_done_most_in_game: <span class="md int">2888</span>,
                        deaths: <span class="md int">36</span>,
                        eliminations: <span class="md int">25</span>,
                        enemies_slept: <span class="md int">12</span>,
                        ...
                      },
                      featured_stats: [{
                        avg: <span class="md int">1630.77</span>,
                        name: <span class="md string">"healing done"</span>,
                        value: <span class="md int">10048</span>
                      }, {
                        avg: <span class="md int">4.05</span>,
                        name: <span class="md string">"eliminations"</span>,
                        value: <span class="md int">25</span>
                      }, {
                        ...
                      }]
                    }
                  }
                }, {
                  ...
                }
              }
            }
          }
        }
      </div>
    </div>
  </div>
  <script>
    function toggleResponse(id) {
        var el = document.querySelectorAll('.method-response')[id]
        var btn = document.querySelectorAll('.show-response')[id]
        var isHidden = el.style.display == 'none'

        if (isHidden) {
          el.style.display = 'block'
          btn.innerText = 'Hide'
        } else {
          el.style.display = 'none'
          btn.innerText = 'Show'
        }
    }
  </script>
</body>
</html>
